body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: white;
}

th, td {
  padding: 4px; /* Réduction du padding */
  text-align: center;
  border: 1px solid #ccc;
}

/* Ajout de la propriété white-space pour les en-têtes de colonne */
th {
  white-space: normal;
}

select, input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
 
